.memory-box-container {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px black;
    background-color: #F0ECE2;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "title"
        "location"
        "date";
}

.memory-box-title {
    grid-area: title;
    font-size: 120%;
    text-decoration: none;
    /* grid-row-start: 0;
    grid-row-end: 2; */
}

.memory-box-location {
    grid-area: location;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

.memory-box-date {
    grid-area: date;
    /* grid-row-start: 2;
    grid-row-end: 4; */
}

.active {
    text-decoration: none;
}