.memory-display {
    display: flex;
    flex-direction: column;
    /* background-color: #ACDBDF; */
    height: fit-content;
    min-height: 100%;
    width: 90%;
    background-color: transparent;
    /* background-image: url('https://st.depositphotos.com/3008028/4295/i/950/depositphotos_42950671-stock-photo-white-texture-or-background.jpg');
    background-size: cover ; */
    
    box-sizing: border-box;
    padding: 40px;
    margin-left: 70px;
    margin-right: 40px;
}
.memory-display-title {
    font-size: 70px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 100px;
    margin-right: 100px;
    margin-left: 100px;
    
    /* background-color: rgba(240, 236, 226, .9); */
    width: fit-content;
    padding-left: 110px;
    padding-right: 110px;
    border-radius: 8px;
    align-self: center;
}
.memory-display-date {
    font-size: 30px;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 50px;
    /* background-color: rgba(240, 236, 226, .9); */
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    align-self: center;
}
.memory-display-location {
    font-size: 30px;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 50px;
    /* background-color: rgba(240, 236, 226, .9); */
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    align-self: center;
}
.memory-display-rating {
    font-size: 30px;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 50px;
    /* background-color: rgba(240, 236, 226, .9); */
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    align-self: center;
}
.memory-display-body {
    font-size: 40px;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    white-space: pre-wrap;
    word-wrap: break-word;
    /* background-color: rgba(240, 236, 226, .9); */
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
}

.to-home-button{
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    margin-left: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px #69779B;
    position: relative;
    left:-300px;
    background-color: transparent;
    /* position: absolute;
    left: -200px; */
}
.to-home-button:hover{
    box-shadow: 3px 3px 3px 3px #69779B;
}
.to-home-button:focus{
    outline: 0;
}
