.sidebar-container {
    /* background-color: #69779B; */
    background-image: url('https://i.pinimg.com/originals/4f/39/10/4f39103da156fb7e479abd6355932e88.jpg');
    background-size: cover ;
    color:#010101;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sidebar;
    box-sizing: border-box;
    padding: 20px;
}

.sidebar-container > button {
    max-width: 50%;
}

.sidebar-username {
    font-size: 50px;
    font-weight: 500;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #ACDBDF;
}

.sidebar-button {
    height: 6vh;
    background-color: #ACDBDF;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 15px;
}

.sidebar-button:hover {
    box-shadow: 2px 2px 2px 2px #69779B;
}