.sidebar-container {
    /* background-color: #69779B; */
    background-image: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2121,x_0,y_111/f_auto,q_auto,w_1100/v1554702738/shape/mentalfloss/49786-istock_0.jpg');
    background-size: cover ;
    color:#010101;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sidebar;
    box-sizing: border-box;
    padding: 20px;
}

.sidebar-container > button {
    max-width: 50%;
}

.sidebar-username {
    font-size: 50px;
    font-weight: 500;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sidebar-button {
    height: 6vh;
    background-color: #ACDBDF;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 15px;
}

.sidebar-button:hover {
    box-shadow: 2px 2px 2px 2px #69779B;
}