.homepage-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    /* grid-template-areas:
    "sidebar memories"; */
}

.sidebar {
    /* grid-area: sidebar; */
    grid-column-start: 0;
    grid-column-end: 2;
}

.mem-list {
    /* grid-area: memories; */
    grid-column-start: 1;
    grid-column-end: 3;
}