/* TODO Add site wide styles */
@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body{
    background-color: #010101;
    font-family: 'Playfair Display', serif;
    background-image: url('https://t3.ftcdn.net/jpg/03/30/61/50/360_F_330615018_xy8WVbNEQ68wSQHNdxBGTQhFSo6vIA05.jpg');
    background-size: cover;
}

.active {
    text-decoration: none;
}