.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #69779B, #ACDBDF);
    /* background-image: url('https://i.imgur.com/5h5Gtwa.jpg');
    background-size: cover ; */
    height: 100%;
    width: 100%;
}

.splash-banner {
    font-size: 150px;
    font-style: italic;
    font-weight: 700;
    box-sizing: border-box;
    margin: 100px;
    
}

.splash-subtitle {
    font-size: 75px;
}

.splash-link {
    box-sizing: border-box;
    margin: 40px;
    font-size: 40px;
    text-decoration: none;
}

.splash-link:hover {
    text-decoration: underline;
}