.signup-container {
    width: 60vw;
    height: fit-content;
    width: fit-content;
    border: 5px solid #474A56;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    margin-left: 40vw;
    margin-top: 25vh;
    background-color: #D3D5FD;
    /* align-items: center; */
}

.signup-element {
    font-size: 4vh;
    display: block;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px;
    color: #474A56;
}

.signup-button {
    box-sizing: border-box;
    margin-left: 20px;
    width:80%;
    height:5vh;
    font-size: 3vh;
    background-color: #474A56;
    /* justify-self: center;
    align-self: center;
    position: absolute; */
}

.signup-element > input {
    height: 70px;
    width: 300px;
    border-radius: 10px;
    font: inherit;
    font-size: 30px;
}